<!DOCTYPE html>
<html ng-app="childrensFund">
  <head>
    <title>San Mateo Children's Fund</title>
    <link href="/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
  </head>
<body ng-controller="appController">

<!--   <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a ui-sref="root" class="navbar-brand">Developer Panel</a>
      <ul class="nav navbar-nav">
        <li><a ui-sref="root">/</a></li>
        <li><a ui-sref="workers.account">Worker Account</a></li>
        <li><a ui-sref="admin.account">Admin Account</a></li>
        <li><a ui-sref="helpDesk.account">Help Desk Account</a></li>
        <li><a href="#" ng-click="signout()">Signout</a></li>
        <li><a href="#" ng-click="devSignin()">Master Signin</a></li>
      </ul>
    </div>
  </nav> -->

  <div class="container-fluid" ui-view></div>


  <!-- dependencies -->
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/bower_components/ng-file-upload/angular-file-upload-shim.js"></script> 
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/ng-file-upload/angular-file-upload.js"></script> 
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  <script src="/js/cookies.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers/appController.js"></script>
  <script src="/js/controllers/donorController.js"></script>
  <script src="/js/controllers/usersController.js"></script>
  <script src="/js/controllers/adminController.js"></script>
  <script src="/js/controllers/authController.js"></script>
  <script src="/js/controllers/signoutController.js"></script>
  <script src="/js/controllers/workerController.js"></script>
  <script src="/js/controllers/pledgeController.js"></script>
  <script src="/js/controllers/imageController.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/directives.js"></script>
</body>
</html>