<!-- 

This file is unused on the site, but serves as a visable template for confirmation emails.
This will be deleted for production, but must remain in the meantime to help create a nice email 

-->

(reqBody, childObj)


---------CASH---------



<p>Dear ' + reqBody.firstName + ',</p>
<div style="margin-left: 20px">
  <p>Thank you for making a cash donation to the County of San Mateo\'s Children\'s Fund.</p>
  <p>Please mail or drop-off cash in the amount of <strong>$' + totalDonation + '</strong> to:</p>
  <p style="margin-left: 20px">
    Children\'s Fund<br/>
    1 Davis Drive<br/>
    Belmont, CA 94002<br/>
  </p>
  <p>For your records, please keep your donation number in a safe place:</p>
  <H2>' + childObj.cfid + '</H2>
  <p>This number will allow you to receive your tax benefit.</p>
  <p>If you have any questions, please contact us at <a href="mailto:childrensfund@smchsa.org">childrensfund@smchsa.org</a> or by phone at (650) 802-5152</p>
  <br/>
  <p>Thank you again,</p>
  <p>County of San Mateo</p>
  <p>Children\'s Fund</p>
</div>







---------CHECK---------



<p>Dear ' + reqBody.firstName + ',</p>
<div style="margin-left: 20px">
  <p>Thank you for making a donation to the County of San Mateo\'s Children\'s Fund.</p>
  <p>Please make your check payable for the amount of <strong>$' + totalDonation + '</strong> to: <strong>"Children\'s Fund"</strong></p>
  <p>Checks can be mailed to:</p>
  <p style="margin-left: 20px">
  Children\'s Fund<br/>
  1 Davis Drive<br/>
  Belmont, CA 94002<br/>
  </p>
  <p>For your records, please keep your donation number in a safe place:</p>
  <H2>' + childObj.cfid + '</H2>
  <p>This number will allow you to receive your tax benefit.</p>
  <p>If you have any questions, please contact us at <a href="mailto:childrensfund@smchsa.org">childrensfund@smchsa.org</a> or by phone at (650) 802-5152</p>
  <br/>
  <p>Thank you again,</p>
  <p>County of San Mateo</p>
  <p>Children\'s Fund</p>
</div>



---------ITEMS---------




<p>Dear ' + reqBody.firstName + ',</p>
<div style="margin-left: 20px">
  <p>Thank you for making a donation to the County of San Mateo\'s Children\'s Fund.</p>
  <p>Please purchase and <strong>include copies of your receipts</strong> for the following products:</p>
  <ul>
    <li>'+ childObj.firstItemName +': '+ childObj.firstItemPrice +'</li>
    <li>'+ childObj.secondItemName +': '+ childObj.secondItemPrice +'</li>
    <li>'+ childObj.thirdItemName +': '+ childObj.thirdItemPrice +'</li>
  </ul>

  <p>Items can be mailed or dropped off to:</p>
  <p style="margin-left: 20px">
  Children\'s Fund<br/>
  1 Davis Drive<br/>
  Belmont, CA 94002<br/>
  </p>
  <strong>Please include the following number with your package of items:</strong>
  <H2>' + childObj.cfid + '</H2>
  <p>This number will allow you to receive your tax benefit.</p>
  <p>If you have any questions, please contact us at <a href="mailto:childrensfund@smchsa.org">childrensfund@smchsa.org</a> or by phone at (650) 802-5152</p>
  <br/>
  <p>Thank you again,</p>
  <p>County of San Mateo</p>
  <p>Children\'s Fund</p>
</div>