<div>
  <h1>Children</h1>
  <div class="center box lg" ng-repeat="child in children">
    <img src="http://cdn.mhpbooks.com/uploads/2013/10/Success-Kid.jpg" alt="some kid">
    <!-- child's name -->
    <div>
      {{ child.child.firstName }}
    </div>
    <!-- child's location -->
    <div>
      {{ child.child.firstName }}'s Location
    </div>
    <!-- blurb about child -->
    <div>
      Blurb: 
      <br/>
      {{ child.child.bio }}
    </div>

    <!-- ITEMS -->
    <div>
      <!-- item1 -->
      <div>
        ${{ child.child.firstItemPrice }} for {{ child.child.firstItemName }}
      </div>
      <!-- item2 -->
      <div>
        ${{ child.child.secondItemPrice }} for {{ child.child.secondItemName }}
      </div>
      <!-- item3 -->
      <div>
        ${{ child.child.thirdItemPrice }} for {{ child.child.thirdItemName }}
      </div>
    </div>
    <div>
      <input 
      ng-hide="child.child.status" 
      ng-click="pledge(child, $index)" 
      type="button" 
      value="Pledge"/>
      <input 
      ng-show="child.child.status" 
      type="button" 
      disabled="disabled" 
      value="Pledged"/>
    </div>
  </div>
</div>
<div ng-hide="children">
  <p class="center">no children data!</p>
</div>