<div>
  <h1>Children</h1>

  <ul class="pagination" ng-show="pages && pages.length > 1">
    <li><a href="#" ng-show="page > 1" ng-click="get(page - 1)">&laquo;</a></li>
    <li ng-repeat="pageNumber in pages" ng-click="get(pageNumber)"><a href="#">{{pageNumber}}</a></li>
    <li><a href="#" ng-show="page < pages.length" ng-click="get(page + 1)">&raquo;</a></li>
  </ul>

  <div class="center box lg" ng-repeat="child in children | orderBy:'createdAt' :true | filter:{status: null}">
    <img src="http://cdn.mhpbooks.com/uploads/2013/10/Success-Kid.jpg" alt="some kid">
    <!-- child's name -->
    <div>
      {{ child.firstName }}
    </div>
    <!-- child's location -->
    <div>
      {{ child.firstName }}'s Location
    </div>
    <!-- blurb about child -->
    <div>
      Blurb: 
      <br/>
      {{ child.bio }}
    </div>

    <!-- ITEMS -->
    <div>
      <!-- item1 -->
      <div>
        ${{ child.firstItemPrice }} for {{ child.firstItemName }}
      </div>
      <!-- item2 -->
      <div>
        ${{ child.secondItemPrice }} for {{ child.secondItemName }}
      </div>
      <!-- item3 -->
      <div>
        ${{ child.thirdItemPrice }} for {{ child.thirdItemName }}
      </div>
    </div>

    <div ng-controller="pledgeController">
      <div>
        <input 
        ng-click="pledgeButton(child, $index)"
        ui-sref="pledge"
        type="button" 
        value="PledgeButton"/>      
      </div>
    </div>

  </div>
</div>
<div ng-hide="children">
  <p class="center">no children data!</p>
</div>