<div class="pledge">
  <h2 class="center">
    Donation submission for {{ currentChild.firstName }} from {{ currentChild.location }}
  </h2>


  <form name="donor_info" role="form" novalidate ng-submit="donorSubmit()">
  <div class="row">
  <div class="col-md-4">
    <div class="form-group" style="width: 300px">
      <label>First Name</label>  (Required)
      <input 
      ng-pattern="/[\D]/g"
      required
      ng-model="donor.firstName"
      type="text"
      class="form-control"
      placeholder="John"/>
    </div>

    <div class="form-group" style="width: 300px">
      <label>Last Name</label>  (Required)
      <input 
      ng-pattern="/[\D]/g"
      required
      ng-model="donor.lastName"
      type="text"
      class="form-control"
      placeholder="Smith"/>
    </div>    

    <div class="form-group" style="width: 300px">
      <label>Phone</label>  (Required)
      <input 
      ng-pattern="/[\d]/g"
      required
      ng-model="donor.phone"
      type="text"
      class="form-control"
      placeholder="(650) 555-2627"/>
    </div>

    <div class="form-group" style="width: 300px">
      <label>Email</label>  (Required)
      <input 
      required
      ng-model="donor.email"
      type="email"
      class="form-control"
      placeholder="name@example.com"/>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group" style="width: 300px">
      <label>Address Line 1</label>  (Required)
      <input 
      required
      ng-model="donor.address1"
      type="text"
      class="form-control"
      placeholder="944 Market Ave Street"/>
    </div>

    <div class="form-group" style="width: 300px">
      <label>Address Line 2</label>
      <input 
      ng-model="donor.address2"
      type="text"
      class="form-control"
      placeholder="Address Line 2"/>
    </div>

    <div class="form-group" style="width: 300px">
      <label>City</label>  (Required)
      <input 
      ng-pattern="/[\D]/g"
      required
      ng-model="donor.city"
      type="text"
      class="form-control"
      placeholder="San Francisco"/>
    </div>

    <div class="form-group" style="width: 300px">
      <label>State</label>  (Required)
      <input 
      ng-pattern="/[\D]/g"
      required
      ng-model="donor.state"
      type="text"
      class="form-control"
      placeholder="CA"/>
    </div>

    <div class="form-group" style="width: 300px">
      <label>Zip Code</label>  (Required)
      <input 
      ng-minlength=5
      ng-pattern="/[\d]/g"
      required
      ng-model="donor.zip"
      type="number"
      class="form-control"
      placeholder="94103"/>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="radio">
      <h4>
  Thank you for your tax-deductible donation!
  </h4>
  <h4>
  Our tax ID number is: <strong>94-6000532</strong>
  </h4>
      <label>
        <input type="radio" ng-model="donor.paymentMethod" value="items">I will be donating the requested items:<br/>
        <div>
        <ul>
          <li ng-show="currentChild.firstItemName">{{ currentChild.firstItemName }}</li>
          <li ng-show="currentChild.secondItemName">{{ currentChild.secondItemName }}</li>
          <li ng-show="currentChild.thirdItemName">{{ currentChild.thirdItemName }}</li>
        </ul>
        </div>
        <input type="radio" ng-model="donor.paymentMethod" value="cash">I will be donating cash for all of <strong>{{ currentChild.firstName }}</strong>'s items.<br/>
        <input type="radio" ng-model="donor.paymentMethod" value="check">I will be donating a check for all of <strong>{{ currentChild.firstName }}</strong>'s items.<br/>
        <p ng-if="donor.paymentMethod === 'check'">
          Please make checks payable to:
          <br/>
          <strong style="margin-left: 10px">Children's Fund</strong><br/>
          <strong style="margin-left: 10px">472 Harbor Blvd. Bldg C,</strong><br/><strong style="margin-left: 10px">Belmont, CA 94002</strong>
        </p>
      </label>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    <button type="submit" class="btn btn-success disabled" ng-hide="donor.paymentMethod" ng-disabled="donor_info.$invalid">Submit</button>
    <button type="submit" class="btn btn-success" ng-show="donor.paymentMethod" ng-disabled="donor_info.$invalid">Submit</button>
    </div>
  </div>
  </div>
  </form>

</div>





