<p>
Thank you for your tax-deductible donation!
</p>
<p>
Our tax ID number is: <strong>94-6000532</strong>
</p>
<p>
Please make checks payable to: <strong>Children's Fund</strong>
</p>
<p>
And mail to: <strong>Children's Fund, 472 Harbor Blvd. Bldg C, Belmont, CA 94002</strong>
</p>


<h2>
  current child's data:
  {{ currentChild }}
</h2>

<div>
  <input 
  ng-model="donor.firstName"
  type="text"
  placeholder="First Name"/>
  <input 
  ng-model="donor.lastName"
  type="text"
  placeholder="Last Name"/>
  <input 
  ng-model="donor.address1"
  type="text"
  placeholder="Address Line 1"/>
  <input 
  ng-model="donor.address2"
  type="text"
  placeholder="Address Line 2"/>
  <input 
  ng-model="donor.city"
  type="text"
  placeholder="City"/>
  <input 
  ng-model="donor.state"
  type="text"
  placeholder="State"/>
  <input 
  ng-model="donor.zip"
  type="text"
  placeholder="Zip Code"/>
</div>





