<!-- This file needed so Azure delegates to Node, otherwise the site may never launch properly -->

<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="no-route">
          <match url="/*" />
          <action type="Rewrite" url="server/server.js" /> 
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>