<h1>List of Children ({{numChildren}})</h1>

<ul class="pagination" ng-show="pages && pages.length > 1">
  <li ng-class="page === 1 ? 'disabled' : ''"><a href="#" ng-click="(page - 1) > 0 && fetchAllChildren(page - 1)">&laquo;</a></li>
  <li ng-repeat="pageNumber in pages" ng-click="fetchAllChildren(pageNumber)" ng-class="page === pageNumber ? 'active': ''"><a href="#">{{pageNumber}}</a></li>
  <li ng-class="page === pages.length ? 'disabled' : ''"><a href="#" ng-click="(page + 1) <= pages.length && fetchAllChildren(page + 1)">&raquo;</a></li>
</ul>

<div class="panel-group" id="accordion">
  <div class="panel panel-default" ng-repeat="child in children">
    <div class="panel-heading">
      <h4 class="panel-title" ng-click="getWorker(child)">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{child.id}}">
          {{child.firstName}} {{child.lastName}}
        </a>
      </h4>
    </div>
    <div id="collapse{{child.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table">
          <tr><th>Child ID</th><td>{{child.id}}</td></tr>
          <tr><th>CFID</th><td>{{child.cfid}}</td></tr>
          <tr>
            <th>Worker</th>
            <td>{{child.worker.firstName}}</td>
            <td>{{child.worker.lastName}}</td>
            <td><button class="btn btn-primary" data-toggle="modal" data-target="#myModal" ng-click="setChildForModal(child)">Change Worker</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{modalChild.firstName}} {{modalChild.lastName}}</h4>
      </div>
      <div class="modal-body">
        <h2>Change Worker for Child: {{modalChild.firstName}} {{modalChild.lastName}}</h2>
        <form role="form" class="form-inline" ng-submit="fetchWorker()">
          <div class="form-group">
            <input placeholder="Input worker last name" class="form-control" ng-model="workerQuery">
            <input type="submit" class="btn btn-primary">
          </div>
          <table class="table">
            <tr ng-repeat="worker in matchedWorkers" ng-click="setWorker(worker)" ng-class="swapWorker === worker ? 'active' : ''"><td>{{worker.firstName}} {{worker.lastName}}</td></tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="saveWorker()">Save changes</button>
      </div>
    </div>
  </div>
</div>