<h1>Generate Reports</h1>

<div ng-show="generatingReport">
  <h2>{{generateReportMessage}}</h2>
</div>

<h2 ng-show="error">{{error}}</h2>

<div class="row" ng-hide="generatingReport" ng-submit="generateReport()">
  <div class="col-md-2">
    <form role="form" class="form">
      <label for="startDate">Start Date</label>
      <input type="date" class="form-control" id="startDate" ng-model="startDate">
      <label for="endDate">End Date</label>
      <input type="date" class="form-control" id="endDate" ng-model="endDate">
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>