<h2 class="center">Children</h2>
  <!-- shows children -->
<div class="center box lg" ng-repeat="child in children">
  <div>
    <img src="http://cdn.mhpbooks.com/uploads/2013/10/Success-Kid.jpg" alt="some kid">
  </div>
  <!-- child's name -->
  <div>
    {{child.child.name}}
  </div>
  <!-- child's location -->
  <div>
    {{child.child.name}}'s Location
  </div>
  <!-- blurb about child -->
  <div>
    Blurb: 
    <br/>
    {{child.child.bio}}
  </div>
  <div ng-repeat="item in child.request.items.items">
    <div class="box xs inline" style="margin-left: 20px">
      $(price data){{item.price}} {{item.item}}

      <!-- Visual Status -->
      <p 
      class="notPledgedText" 
      ng-if="item.status === 'requested'">
        Not pledged by a donor
      </p>
      <p 
      class="pledgedText" 
      ng-if="item.status !== 'requested'">
        Pledged by a donor
      </p>
        <!-- add more here when other statuses are defiend -->
    </div>
  </div>
  <br/>
</div>