<div ng-controller="inputController">
 
  <br/>

  <h2>Worker's Portal</h2>

  <!-- input fields -->
  <input ng-model="childName" type="text" placeholder="childName">
  <input ng-model="item1" type="text" placeholder="item1">

  <!-- click handler for POST -->
  <input ng-click="post()" type="submit" value="Submit">

  <!-- click handler for GET -->
  <input ng-click="get()" type="button" value="Click here to refresh">

  <!-- shows children -->
  <ul ng-repeat="child in children">
    <h3>{{child.childData.name}} wants a </h3>
    <li ng-repeat="itemIndex in child.childData.items">
      {{itemIndex.item}} <div ng-show="itemIndex.pledged"> - Pledged by a donor!</div>
    </li>
  </ul>
</div>