<div>
 
  <br/>

  <h2 class="center">Worker's Portal</h2>

  <!-- input fields -->
  <div class="center">
    <a ui-sref="createTag">Create New Child Tag</a>
    <a ui-sref="updateTag">Update Existing Child Tag</a>
  </div>

  <br/>
  <!-- old -->
  <!-- <input ng-model="childName" type="text" placeholder="childName"> -->
  <!-- <input ng-model="item1" type="text" placeholder="item1"> -->

  <!-- click handler for POST -->
  <!-- <input ng-click="post()" type="submit" value="Submit"> -->


</div>