<div class="container">

  <div class="col-md-4"></div>
  <div class="col-md-4 auth-box">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">{{userHeader}} Reset Password</div>
      </div>

    <div class="alert alert-danger" ng-show="error">{{error}}</div>
    <form ng-submit="resetPassword()">
      <input placeholder="password" type="password" ng-model="password" class="form-control">
      <input placeholder="confirm password" type="password" ng-model="passwordConfirmation" class="form-control">
      <input type="submit" class="form-control btn-primary" ng-disabled="waitAuth === 1" ng-hide="!waitAuth">
      <button type="submit" class="form-control btn-primary" ng-show="waitAuth === 1" disabled>Sending Email</button>
      <button type="submit" class="form-control btn-success" ng-show="waitAuth === 2" disabled>Email Sent!</button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>