<div class="container">

  <div class="col-md-4"></div>
  <div class="col-md-4 auth-box">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">{{userHeader}} Send Password Reset</div>
      </div>

      <div class="alert alert-info" ng-show="status">{{status}}</div>
      <form ng-submit="sendReset()">
        <input placeholder="email address" type="email" ng-model="email" class="form-control">
        <input type="submit" ng-disabled="waitSendPassword === 1" class="form-control btn-primary">
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>

</div>