<div>
  <h2 class="center">Children</h2>
  <!-- shows children -->
  <div class="center box lg" ng-repeat="child in children">
    <div>
      <img src="http://cdn.mhpbooks.com/uploads/2013/10/Success-Kid.jpg" alt="some kid">
    </div>
    <!-- child's name -->
    <div>
      {{child.child.firstName}}
    </div>
    <!-- child's location -->
    <div>
      {{child.child.firstName}}'s Location
    </div>
    <!-- blurb about child -->
    <div>
      Bio: 
      <br/>
      {{child.child.bio}}
    </div>
    <div ng-repeat="item in child.child.items">
      <div class="box xs inline" style="margin-left: 20px">
        ${{item.price}} for {{item.item}}
      </div>
    </div>
    <div>
      <!-- Visual Status -->
      <p 
      class="notPledgedText" 
      ng-if="child.status === 'requested'">
        Not pledged by a donor
      </p>
      <p 
      class="pledgedText" 
      ng-if="child.status !== 'requested'">
        Pledged by a donor
      </p>
    </div>
    <br/>
  </div>
</div>
<div ng-hide="children">
  <p class="center">no children data!</p>
</div>
