<div class="container-fluid">
  <div class="row">
    <!-- child data -->
    <div class="col-md-6">
      <h2>Child Info</h2>
      <input 
      ng-model="tempChildObj.child.firstName" 
      type="text" 
      name="firstName" 
      placeholder="Child's First Name"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.lastName" 
      type="text" 
      name="lastName" 
      placeholder="Child's Last Name"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.phone" 
      type="text" 
      name="childPhone" 
      placeholder="Child's Phone"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.gender" 
      type="text" 
      name="gender" 
      placeholder="Child's Gender"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.dob" 
      type="text" 
      name="dob" 
      placeholder="Child's DOB"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.age" 
      type="text" 
      name="age" 
      placeholder="Child's Age"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.location" 
      type="text" 
      name="location" 
      placeholder="Child's Location"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.programArea" 
      type="text" 
      name="programArea" 
      placeholder="Program Area"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.bio" 
      type="text" 
      name="bio" 
      placeholder="Bio"/>
    </div>
    <!-- Request Data -->
    <div class="col-md-6">
      <h2>Request Info</h2>
      <input 
      ng-model="tempChildObj.child.items[0].item" 
      type="text" 
      name="item1" 
      placeholder="First Item"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.items[0].price" 
      type="text" 
      name="item1Price" 
      placeholder="First Item Price"/>
      <br/>
      <br/>
      <input 
      ng-model="tempChildObj.child.items[1].item" 
      type="text" 
      name="item2" 
      placeholder="Second Item"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.items[1].price" 
      type="text" 
      name="item2Price" 
      placeholder="Second Item Price"/>
      <br/>
      <br/>
      <input 
      ng-model="tempChildObj.child.items[2].item" 
      type="text" 
      name="item3" 
      placeholder="Third Item"/>
      <br/>
      <input 
      ng-model="tempChildObj.child.items[2].price" 
      type="text" 
      name="item3Price" 
      placeholder="Third Item Price"/></div>
</div>


<br/>

<br/>

<!-- buttons -->
  <div class="center">
    <input
    class="btn btn-success"
    ng-click="post()" 
    type="button" 
    name="submit" 
    value="Submit"/>
    <button class="btn btn-danger" ui-sref="workers.account">Back</button>
  </div>
  
</div>