<form name="donor_info" role="form" novalidate class="createChildTag">
<div style="max-width: 80%; display: block; margin: 0 auto;">
      
  <div class="row">
    <div class="col-md-6">
      <h2 class="center">Child Info
      <br/>
      <small>(All text fields are required.)</small>
  </h2>
      <input 
      class="form-control"
      required
      ng-pattern="/[\D]/g"
      ng-model="tempChildObj.firstName" 
      type="text" 
      name="firstName" 
      placeholder="First Name"/>
      <input 
      class="form-control"
      required
      ng-pattern="/[\D]/g"
      ng-model="tempChildObj.lastName" 
      type="text" 
      name="lastName" 
      placeholder="Last Name"/>
      <input
      class="form-control"
      required 
      ng-pattern="/[\d]/g"
      ng-model="tempChildObj.phone" 
      type="text" 
      name="childPhone" 
      placeholder="Phone"/>
      <select class="form-control" ng-model="tempChildObj.gender" name="gender">
        <option value="" selected>Choose Gender</option> 
        <option value="male">Male</option> 
        <option value="female">Female</option>
      </select>
      <input
      class="form-control"
      required 
      ng-pattern="/[\d\W]/g"
      ng-model="tempChildObj.dob" 
      type="date" 
      name="dob"/>
      <input
      class="form-control"
      required 
      ng-pattern="/[\d]/g"
      ng-model="tempChildObj.age"
      type="text" 
      name="age" 
      placeholder="Age"/>
      <input
      class="form-control"
      required 
      ng-model="tempChildObj.location" 
      type="text" 
      name="location" 
      placeholder="Location"/>
      <input
      class="form-control"
      required 
      ng-model="tempChildObj.programArea" 
      type="text" 
      name="programArea" 
      placeholder="Program Area"/>
    </div>
    <div class="col-md-6">
      <h2 class="center">Request Info
       <br/>
       <small>(One item and price is required.)</small>
      </h2>
      <input 
      class="form-control"
      required
      ng-model="tempChildObj.firstItemName" 
      type="text" 
      name="item1" 
      placeholder="First Item"/>
            <small ng-if="tempChildObj.firstItemName.length <= 16 || !tempChildObj.firstItemName.length" style="float: right">Character Limit: {{ 16 - tempChildObj.firstItemName.length }} / 16</small>
      <small ng-if="tempChildObj.firstItemName.length > 16" style="float: right; color: red; font-weight: bold;">Character Limit: {{ 16 - tempChildObj.firstItemName.length }} / 16</small>

      <input 
      class="form-control"
      required
      ng-pattern="/[\d$.]/g"
      ng-model="tempChildObj.firstItemPrice" 
      type="text" 
      name="item1Price" 
      placeholder="Price"/>
      <br/>
      <br/>
      <input 
      class="form-control"
      ng-model="tempChildObj.secondItemName" 
      type="text" 
      name="item2" 
      placeholder="Second Item"/>
            <small ng-if="tempChildObj.secondItemName.length <= 16 || !tempChildObj.secondItemName.length" style="float: right">Character Limit: {{ 16 - tempChildObj.secondItemName.length }} / 16</small>
      <small ng-if="tempChildObj.secondItemName.length > 16" style="float: right; color: red; font-weight: bold;">Character Limit: {{ 16 - tempChildObj.secondItemName.length }} / 16</small>

      <input 
      class="form-control"
      ng-model="tempChildObj.secondItemPrice" 
      ng-pattern="/[\d$.]/g"
      type="text" 
      name="item2Price" 
      placeholder="Price"/>
      <br/>
      <br/>
      <input 
      class="form-control"
      ng-model="tempChildObj.thirdItemName" 
      type="text" 
      name="item3" 
      placeholder="Third Item"/>
      <small ng-if="tempChildObj.thirdItemName.length <= 16 || !tempChildObj.thirdItemName.length" style="float: right">Character Limit: {{ 16 - tempChildObj.thirdItemName.length }} / 16</small>
      <small ng-if="tempChildObj.thirdItemName.length > 16" style="float: right; color: red; font-weight: bold;">Character Limit: {{ 16 - tempChildObj.thirdItemName.length }} / 16</small>
      <input 
      class="form-control"
      ng-model="tempChildObj.thirdItemPrice" 
      ng-pattern="/[\d$.]/g"
      type="text" 
      name="item3Price" 
      placeholder="Price"/>
      <br/>
      <br/>
      <div>
        <textarea
        style="height: 100px"
        class="form-control"
        required 
        ng-model="tempChildObj.bio" 
        type="text" 
        name="bio" 
        placeholder="Bio"/>
        <small ng-if="tempChildObj.bio.length <= 600 || !tempChildObj.bio.length" style="float: right">Character Limit: {{ 600 - tempChildObj.bio.length }} / 600</small>
        <small ng-if="tempChildObj.bio.length > 600" style="float: right; color: red; font-weight: bold;">Character Limit: {{ 600 - tempChildObj.bio.length }} / 600</small>
      </div>
    </div>
  </div>
  <div class="center" ng-controller="imageController">
    <input name="file" class="form-control" style="width: 48.5%" type="file" accept="image/*" ng-file-select="onFileSelect($files)"/>
    <br/>
    <input
    class="btn btn-success" 
    type="button" 
    ng-click="uploadImageThenCreateChild()"
    name="submit" 
    value="Submit"/>
    <button class="btn btn-danger" ui-sref="workers.account">Back</button>
  </div>
</div>

</form>