body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.lg {
  width: 700px;
}

.md {
  width: 350px;
}

.xs {
  width: 150px;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px auto 2px;
  padding: 2px 2px 2px 2px;
}

.inline {
  display: inline-block;
}

.pledgedText {
  color: green;
}
.notPledgedText {
  color: red;
}

.redBorder {
  border: 1px solid red;
}