.center {
  text-align: center;
}

.lg {
  width: 700px;
}

.md {
  width: 350px;
}

.xs {
  width: 150px;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px auto 2px;
  padding: 2px 2px 2px 2px;
}

.inline {
  display: inline-block;
}

/* Homepage Styles */
#hsa-logo {
  height: 17%;
  width: 17%;
  margin-top: 7px;
}

#public-nav {
  height: 70px;
  background-color: white;
}

#tagline {
  font-size: 24px;
  margin-top: 10px;
  background-color: lightgrey;
}

#tagline p{
  margin-top: 7px;
}

.child-box{
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
}

.child-box .name{
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: -12px;
}

/* General Dashboard Styles */
.navbar-padding{
  padding-top: 60px;
}

/* Worker Panel Styles */
.children-feed .pledged{
  color: green;
}

.children-feed .not-pledged{
  color: grey;
}

/* Admin Dashboard Styles */
#internal-navigation{

}

#internal-navigation a{
  color: black;
}

.logo {
  width: 90%;
  height: auto;
}

/* Authentication Styles */
.auth-box {
  margin-top: 100px;
}

.auth-box .form-control{
  margin: 10px;
  width: 95%;
}

.auth-box .alert{
  margin: 10px;
  width: 95%;
}