body {
  padding-top: 60px;
}

.center {
  text-align: center;
}

.lg {
  width: 700px;
}

.md {
  width: 350px;
}

.xs {
  width: 150px;
}

.box {
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px auto 2px;
  padding: 2px 2px 2px 2px;
}

.inline {
  display: inline-block;
}

.pledgedText {
  color: green;
}
.notPledgedText {
  color: red;
}

.redBorder {
  border: 1px solid red;
}


/* Input Verification Styles */
.createChildTag input.ng-invalid, .pledge input.ng-invalid {
  border: 1px solid red;
}
.createChildTag input.ng-valid, .pledge input.ng-valid {
  border: 1px solid green;

/* Admin Dashboard Styles */
#admin-navbar{
}

#admin-navbar a{
  color: black;
}